{%extends 'base.html'%}
{%load static%}
{%block content%}
<header>
  <!-- Intro settings -->
  <style>
    /* Default height for small devices */
    #intro-example {
      height: 400px;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #intro-example {
        height: 600px;
      }
    }
  </style>


  <!-- Background image -->
  <div
    id="intro-example"
    class="p-5 text-center bg-image"
    style="background-image: url('https://triplecrown.co.in/img/slider-1.jpg');"
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">About Us</h1>


        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>

<section class="container">
<h3 class="my-3 h3 ">Who we Are</h3>
<hr class="my-4">
<p>
  Incorporated as a private limited liability business in the UK, Pantera Trade Network Limited acts as a broker for both novices and seasoned traders in the cryptocurrency and forex markets.
Why put yourself through the stress of trading when we can do it for you?
Let us be your broker, and we guarantee that you won't work up a sweat before you see results.
</p>


<p>
By using our official website, www.Panteratradenetwork.com, to create a free trading account, make a deposit,
and then sit back and relax while our team of crypto specialists handles the work.
Earn 10% to 10% daily for the rest of your life, depending on your desired plan.
Get a 15% deposit bonus (on deposits of $10000 or more; terms and conditions apply) as well as a 10% referral commission.
In addition to trading cryptocurrencies, Pantera Trade Network Ltd is authorized by the British government to do so in real estate,
  gold, and foreign exchange.
</p>
<p>
Your investments with us come with no risk and are guaranteed to last a lifetime, unless you want to legally terminate the agreement.
Deposits and withdrawals on the Pantera Trade Network can be made using Bitcoin, Ethereum, and XRP.
Leading figures in the cryptocurrency industry include Vitaly Dmitriyevich, the co-founder of Ethereum, Jihan Wu, Changpeng Zhao,
  Brian Armstrong, and Jihan Wu, the CEO and co-founder of Coinbase, have all endorsed Pantera Trade Network Limited for both novices and
  seasoned investors.
</p>

  <p class="lead">Start now to ensure your financial independence tomorrow.</p>
</section>

<section class="container mx-auto">
<hr class="my-4">
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4">
    <h5 class="mb-3 h5 ">Certificate</h5>
  <img
    alt="Certificate"
    class="img-fluid rounded"
    src="{%static 'assets/img/FD982D99-5155-41F9-9B4E-D8B100CA0ADE.PNG'%}"
  />
  </div>

  <div class="col-lg-8 col-md-8 mb-4">
    <h5 class="mb-3 h5 ">OUR NAME AND YEARS OF SUCCESSFUL FINANCIAL TRANSACTIONS THROUGH CRYPTO BROKERAGE
</h5>
    <p class=" ">
      Pantera Trade Network Limited, a global financial institution with headquarters in the UK,
      launched a local exchange for cryptocurrency trading in England in 2013. On May 5, 2017, Pantera
      Trade Network completely incorporated and became a worldwide financial and technological powerhouse
      (see the certificate of incorporation below). The
      business transacts on cutting-edge financial marketplaces and digital currencies. Qualified,
      experienced professional brokers execute trades.
    </p>
     <p class=" ">
      By encouraging a mutually beneficial relationship between investors and brokers, we hope to offer our investors a dependable source of high income while reducing any potential dangers and providing a high-quality service.
      Our investors can only trade with us using BTC, ETH, and XRP, despite the fact that we trade on a variety of cryptocurrencies. This is a step in the management's decision to eliminate any potential danger of liquidation due to cryptocurrencies' erratic nature. One of the most reputable brokers in established and new cryptocurrency markets, including Yearn Finance, Bitcoin, Ethereum, XRP, Dogecoin, Tron, Energy Web Token, and Bitcoin Gold BTG, is Pantera Trade Network Ltd. Trade with us immediately and take advantage of our insurance policy's 100% investment guarantee.
      Email at support@PanteraTradeNetwork.co
      Head Office Address: 20 Glenfield Road Benton Newcasltle Upon Tyne NE|280X, England.
    </p>
  </div>
</div>
</section>


  <div class="landing-number" style="
    background:
    url('https://news.monitalks.io/_next/image?url=https%3A%2F%2Fs3.eu-west-2.amazonaws.com%2Fprod-monitalks-media%2Fpantera_capital_7f58823caf.webp&w=750&q=75') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>$657B</h2>
          <p>Quarterly volume traded</p>
        </div>
        <div class="col-md-4">
          <h2>100+</h2>
          <p>Countries supported
          </p>
        </div>
        <div class="col-md-4">
          <h2>56+M</h2>
          <p>Verified users
          </p>
        </div>
      </div>
    </div>
  </div>

{%endblock%}
