{%extends 'base.html'%}
{%load static%}
{%block content%}
<header>
  <!-- Intro settings -->
  <style>
    /* Default height for small devices */
    #intro-example {
      height: 400px;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #intro-example {
        height: 600px;
      }
    }
  </style>


  <!-- Background image -->
  <div
    id="intro-example"
    class="p-5 text-center bg-image"
    style="background-image: url('https://triplecrown.co.in/img/slider-1.jpg');"
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">FAQ</h1>
          <h2 class="mb-4">Frequently Asked Questions</h2>
          <h5>find Frequently Asked Questions below </h5>


        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>

<section class="m-5 p-5">
{%for q in object_list%}
<section class="m-2">
<div class="list-group w-100">
  <a href="#shortExampleAnswer1collapse{{q.id}}" data-mdb-toggle="collapse" aria-expanded="false"
    aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{q.question}}</h5>
    </div>
    <p class="mb-1">
      {{q.answer| truncatechars:40}}    </p>
    <small><u>Learn more</u></small>
    <!-- Collapsed content -->
    <div class="collapse mt-3" id="shortExampleAnswer1collapse{{q.id}}">
      {{q.answer}}
    </div>
  </a>
</div>
</section>
  {%endfor%}
</section>




{%endblock%}
